* {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.kaogaii-wrapper {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kaogaii-header {
  position: relative;
  width: 100vw;
  display: flex;
}

.kaogaii-header > button:hover {
  filter: brightness(75%);
}

.kaogaii-header > button {
  border: none;
  height: 3.5rem;
  padding: 0.2rem 0.6rem;
  cursor: pointer;
  position: absolute;
  right: 2.5%;
  margin-top: 1rem;
  font-size: 1.75rem;
  transition: filter 0.25s;
}

.kaogaii-imoge {
  margin: 0 auto;
  max-width: 500px;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.kaogaii-imoge > li {
  cursor: pointer;
  margin: 0 auto;
  place-items: center;
  width: 15rem;
  height: 15rem;
  font-size: 2rem;
  text-align: center;
  transition: letter-spacing 0.25s;
}

.kaogaii-imoge > li:hover {
  letter-spacing: 0.15rem;
}

.kaogaii-footer {
  padding: 0 0 1rem 1rem;
  font-size: 1.75rem;
}

.kaogaii-toggle {
  max-width: 40rem;
  background-color: yellow;
  display: none;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 80vw;
  height: 30rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.kaogaii-toggle-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kaogaii-toggle-layout > input {
  margin: 0 auto;
  width: 20rem;
  height: 4rem;
  font-size: 1.25rem;
  outline: none;
  padding: 0.5rem;
}

.kaogaii-btns {
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  gap: 1rem;
}

.kaogaii-btns > li > button {
  height: 3rem;
  width: 7rem;
  border: 0;
  color: white;
  font-size: medium;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: 0.25s background-color;
}

.kaogaii-close_toggle {
  background-color: #ea4236;
}

.kaogaii-close_toggle:hover {
  background-color: #ad2f26;
}

.kaogaii-save_comment {
  background-color: #4286f5;
  transition: 0.25s background-color;
}

.kaogaii-save_comment:hover {
  background-color: #3c74ce;
}
