<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>가오가이 | 20조</title>
  </head>
  <link rel="stylesheet" href="./static/main.css" />
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <body>
    <!-- 헤더 마지막에 추가 버튼 위치하게 하기 -->
    <!-- 이모지는 뭐 나중에 밥먹고 와야겠다 맛있겠당 -->
    <div class="kaogaii-wrapper">
      <header class="kaogaii-header">
        <button onclick="toggle_box()" class="fan-box">팬명록 추가하기</button>
      </header>
      <ul class="kaogaii-imoge">
        <li>아이유</li>
        <li>소녀시대</li>
        <li>뉴진스</li>
        <li>마마무</li>
        <li>박효신</li>
      </ul>
      <footer class="kaogaii-footer">© 2023. kaogaii</footer>
      <section class="kaogaii-toggle">
        <div class="kaogaii-toggle-layout">
          <input
            type="text"
            class="name"
            placeholder="추가할 이름"
            required
            name="name"
          />
          <input
            type="text"
            class="link"
            placeholder="이미지 링크"
            required
            name="img"
          />
          <ul class="kaogaii-btns">
            <li>
              <button onclick="close_toggle()" class="kaogaii-close_toggle">
                닫기
              </button>
            </li>
            <li>
              <button
                type="button"
                onclick="save_comment()"
                class="kaogaii-save_comment"
              >
                남기기!
              </button>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <script>
      function toggle_box() {
        $(".kaogaii-toggle").show();
      }

      function close_toggle() {
        $(".kaogaii-toggle").hide();
      }

      function save_comment() {
        let name = $(".name").val();
        let link = $(".link").val();
        $.ajax({
          type: "POST",
          url: "/idol",
          data: { idol_name: name, idol_link: link },
          success: function (response) {
            console.log(response);
          },
        });
      }
    </script>
  </body>
</html>
