<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>가오가이 | 20조</title>
  </head>
  <link rel="shortcut icon" href="./static/favicon.ico" />
  <link rel="stylesheet" href="./static/main.css" />
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <body>
    <!-- 헤더 마지막에 추가 버튼 위치하게 하기 -->
    <!-- 이모지는 뭐 나중에 밥먹고 와야겠다 맛있겠당 -->
    <div class="kaogaii-wrapper">
      <header class="kaogaii-header">
        <span class="logo">Kaogaii</span>
        <button onclick="toggle_box()" class="fan-box">가수 추가하기</button>
      </header>
      <section class="padding-t"></section>
      <ul class="kaogaii-imoge"></ul>
      <section class="padding-b"></section>
      <footer class="kaogaii-footer">
        © 2023. <span class="logo">Kaogaii</span>
      </footer>
      <section class="kaogaii-toggle">
        <div class="kaogaii-toggle-layout">
          <input
            type="text"
            class="name"
            placeholder="추가할 이름"
            required
            minlength="2"
            maxlength="10"
            name="name"
          />
          <input
            type="text"
            class="link"
            placeholder="이미지 링크"
            minlength="1"
            required
            name="img"
          />
          <ul class="kaogaii-btns">
            <li>
              <button onclick="close_toggle()" class="kaogaii-close_toggle">
                닫기
              </button>
            </li>
            <li>
              <button
                type="button"
                onclick="add_idol()"
                class="kaogaii-save_comment"
              >
                남기기!
              </button>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <script>
      $(document).ready(function () {
        show_idol();
      });

      function toggle_box() {
        $(".kaogaii-toggle").show();
      }

      function close_toggle() {
        $(".kaogaii-toggle").hide();
      }

      function add_idol() {
        let name = $(".name").val();
        let link = $(".link").val();
        if (name !== "" && link !== "") {
          $.ajax({
            type: "POST",
            url: "/idol",
            data: { idol_name: name, idol_link: link },
            success: function (response) {
              alert(response["msg"]);
              window.location.reload();
            },
          });
        }
      }

      function show_idol() {
        $.ajax({
          type: "GET",
          url: "/idol",
          data: {},
          success: function (response) {
            let rows = response["idol"];
            for (let i = 0; i < rows.length; i++) {
              let name = rows[i]["idol_name"];
              let p_link = rows[i]["idol_link"];
              let id = rows[i]["idol_num"];

              let temp_html = ` <li><a href="/fanpage?id=${id}">
                                  <img src="${p_link}" alt="image"/>
                                  <span>${name}</span>
                                </a></li>`;

              $(".kaogaii-imoge").append(temp_html);
            }
          },
        });
      }
    </script>
  </body>
</html>
