<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <script>
      $(document).ready(function () {
        show_id();
      });

      function show_id() {
        let url_href = window.location.href;
        let url = new URL(url_href);
        let a = url.searchParams.get("id");
        $.ajax({
          type: "POST",
          url: "/fanpage",
          data: { idol_id: a },
          success: function (response) {
            console.log(response["msg"]);
          },
        });
      }
    </script>
  </body>
</html>

test id = {{ id }}
