<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="kaogaii-wrapper"></div>
    <script>
      $(document).ready(function () {
        show_idol();
      });

      function show_idol() {
        let url_href = window.location.href;
        let url = new URL(url_href);
        let a = url.searchParams.get("id");
        $.ajax({
          type: "GET",
          url: "/idol",
          data: {},
          success: function (response) {
            let rows = response["idol"];
            for (let i = 0; i < rows.length; i++) {
              let id = rows[i]["idol_num"];
              if (id == Number(a)) {
                console.log(rows[i]);
                let name = rows[i]["idol_name"];
                let link = rows[i]["idol_link"];
                let temp_html = `<h1>${name}</h1> <img src="${link}" alt="image"/>`;
                $(".kaogaii-wrapper").append(temp_html);
              }
            }
          },
        });
      }
    </script>
  </body>
</html>
